<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "mysite/base.html" %}
{% load staticfiles %}

{% block mainmenu %}
    <li ><a href="/index/">Home</a></li>
    <li><a href="/resume/">Resume</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li class="lonon-active"><a href="/blog/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
{% endblock %}


{% block content %}
        <!-- Main Section -->
        <div id="lonon-main">
            <!-- Blog -->
            <div class="lonon-projects">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> <span class="heading-meta style-1">Blog</span>
                            <!--Title of article 文章标题 -->
                            <h2 class="lonon-post-heading animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                                {{ article.title }}
                            </h2>
                        </div>
                    </div>
                    <!-- author and time-->
                    <div class="row">
                        <div class="col-md-12 fadeInLeft animated">
                            <h6>{{ article.author }} | {{ article.c_time|date:"Y-m-d" }} | {{ article.column }} | Views: {{ article.total_views }}</h6>

                        </div>
                    </div>
                    <!-- avator 文章标题图 -->
                    <div class="row">
                        <div class="col-md-12 image-content animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                            <img src="{{ article.avatar.url }}" class="img-fluid mb-30" alt="">
                        </div>
                    </div>
                    <!-- article 文章内容 -->
                    <div class="row">
                        <div class="col-md-12 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                            <p>{{ article.body|safe }}</p>
                        </div>
                    </div>
                    <!--footer-->
                    <div class="divider1" style="margin-bottom: 30px"></div>

                    <div class="col-md-12" >

                        <div class="btn btn-outline-primary"
                                style="float: left"
                                >Like
                        </div>

                        <a href="#">
                            <div class="btn btn-outline-primary" style="float: right">Sponsor</div>
                        </a>
                    </div>

                </div>
            </div>

        </div>


{% endblock %}

{% block script %}
    <!-- csrf token -->
<script src="{% static 'csrf.js' %}"></script>
<script>
// 点赞功能主函数
    function validate_is_like(url, id, likes) {
        // 取出 LocalStorage 中的数据
        let storage = window.localStorage;
        const storage_str_data = storage.getItem("my_blog_data");
        let storage_json_data = JSON.parse(storage_str_data);
        // 若数据不存在，则创建空字典
        if (!storage_json_data) {
            storage_json_data = {}
        };
        // 检查当前文章是否已点赞。是则 status = true
        const status = check_status(storage_json_data, id);
        if (status) {
            layer.msg('已经点过赞了哟~');
            // 点过赞则立即退出函数
            return;
        } else {
            // 用 Jquery 找到点赞数量，并 +1
            $('span#likes_number').text(likes + 1).css('color', '#555555');
        }
        // 用 ajax 向后端发送 post 请求
        $.post(
            url,
            // post 只是为了做 csrf 校验，因此数据为空
            {},
            function(result) {
                if (result === 'success') {
                    // 尝试修改点赞数据
                    try {
                        storage_json_data[id] = true;
                    } catch (e) {
                        window.localStorage.clear();
                    };
                    // 将字典转换为字符串，以便存储到 LocalStorage
                    const d = JSON.stringify(storage_json_data);
                    // 尝试存储点赞数据到 LocalStorage
                    try {
                        storage.setItem("my_blog_data", d);
                    } catch (e) {
                        // code 22 错误表示 LocalStorage 空间满了
                        if (e.code === 22) {
                            window.localStorage.clear();
                            storage.setItem("my_blog_data", d);
                        }
                    };
                } else {
                    layer.msg("与服务器通信失败..过一会儿再试试呗~");
                }

            }
        );
    };
    // 辅助点赞主函数，验证点赞状态
    function check_status(data, id) {
        // 尝试查询点赞状态
        try {
            if (id in data && data[id]) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            window.localStorage.clear();
            return false;
        };
    };
</script>
{% endblock script %}