{% extends "mysite/index.html" %}


{% block content-footer %}
    <!-- Footer -->
    <div id="lonon-footer2">
        <div class="lonon-narrow-content">
            <div class="row">
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <p class="lonon-lead">&copy; 2019 Lonon. All rights reserved</p>
                </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <h2 class="text-center">Yuman YIN</h2> </div>
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <ul class="social-network">
                        <li><a href="mailto:yinyuman96@gmail.com" ><i class="ti-email font-14px gray-icon"></i></a></li>
                        <li><a href="https://github.com/YumanYIN/" target=“_blank”><i class="ti-github font-14px gray-icon"></i> </a></li>
                        <li><a href="https://www.linkedin.com/in/yuman-yin-568575182/" target=“_blank”><i class="ti-linkedin font-14px gray-icon"></i></a></li>
                        <li><a href="https://www.facebook.com/yuman.yin.3" target=“_blank”><i class="ti-facebook font-14px gray-icon"></i></a></li>
                        <li><a href="https://twitter.com/yin_yuman" target=“_blank”><i class="ti-twitter-alt font-14px gray-icon"></i></a></li>
                        <li><a href="https://www.instagram.com/yinyuman96/" target=“_blank”><i class="ti-instagram font-14px gray-icon"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
